# Analysis of Amazon Reviews

By: Nick Tiliakos

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [13]:
data = pd.read_csv('amazon_reviews.csv')
df_pre = pd.DataFrame(data)

### Data Cleaning

In [14]:
print(df_pre.head(n=1))

                               reviewId          userName  \
0  d6416c16-c1eb-4b56-920f-77ef07b2d8cb  Sergio Hernandez

                   content  score  thumbsUpCount reviewCreatedVersion  \
0  Bueneishon apliqueishon      5              0          26.17.2.100

                    at   appVersion
0  2024-05-09 15:51:12  26.17.2.100

In [15]:
df_pre.describe()

              score  thumbsUpCount
count  50213.000000   50213.000000
mean       2.410790      13.748173
std        1.637335      85.970094
min        1.000000       0.000000
25%        1.000000       0.000000
50%        2.000000       1.000000
75%        4.000000       3.000000
max        5.000000    5660.000000

In [18]:
print(df_pre.info)

<bound method DataFrame.info of                                    reviewId          userName  \
0      d6416c16-c1eb-4b56-920f-77ef07b2d8cb  Sergio Hernandez
1      ab0cba1f-115a-4dee-bece-9cd3a56fbf95         LIZ IRVIN
2      0721b206-cbf3-48b9-a17a-c5134320450b      Linda Walker
3      f5b7f65c-186a-4c6f-8ab2-9b1602d09e8c       Diane Brown
4      3096c174-6015-4984-b764-42e3751c5014      Keith Graham
...                                     ...               ...
50208  ac82191a-e776-42a0-8e30-91eabb763968         Mary Mora
50209  3aa6af38-b044-4257-9cf3-b94c437da0ef     Marie Elliott
50210  727ec38a-c633-48f4-a302-66e52740a43c       Dan Preston
50211  615a9643-cd36-4010-9a81-8763bac11ddf             Jhosh
50212  6b818e48-406b-4b9d-88c6-759152019a96  Christopher Read

                                                 content  score  \
0                                Bueneishon apliqueishon      5
1                                                  great      5
2      My experience with Amazon is the best their is...      5
3      Good for checking orders and if you know what ...      3
4                                       Keeps locking up      1
...                                                  ...    ...
50208  Amazon Smile donates. Make sure you get all se...      5
50209  After having problems with the app and having ...      5
50210  Used to be great. Got greedy, they ruined the ...      1
50211  New search bar location sucks. At least give m...      2
50212  for me personally I use Amazon prime due to be...      5

       thumbsUpCount reviewCreatedVersion                   at   appVersion
0                  0          26.17.2.100  2024-05-09 15:51:12  26.17.2.100
1                  0           28.9.2.100  2024-05-09 15:49:41   28.9.2.100
2                  0           28.9.2.100  2024-05-09 15:45:02   28.9.2.100
3                  0           28.9.2.100  2024-05-09 15:16:37   28.9.2.100
4                  0           28.9.2.100  2024-05-09 14:42:32   28.9.2.100
...              ...                  ...                  ...          ...
50208              0           26.1.2.100  2023-01-16 06:12:14   26.1.2.100
50209              1          22.18.0.100  2021-09-24 12:01:29  22.18.0.100
50210              0           26.9.0.100  2023-05-15 18:27:24   26.9.0.100
50211              0          26.12.0.100  2023-06-11 15:24:08  26.12.0.100
50212              0           24.9.0.100  2022-05-08 17:59:37   24.9.0.100

[50213 rows x 8 columns]>

In [19]:
print(df_pre.isnull().sum())

reviewId                   0
userName                   5
content                    0
score                      0
thumbsUpCount              0
reviewCreatedVersion    4805
at                         0
appVersion              4805
dtype: int64

In [21]:
df = df_pre.dropna()

print(df.isnull().sum())

reviewId                0
userName                0
content                 0
score                   0
thumbsUpCount           0
reviewCreatedVersion    0
at                      0
appVersion              0
dtype: int64

In [22]:
df.dtypes

reviewId                object
userName                object
content                 object
score                    int64
thumbsUpCount            int64
reviewCreatedVersion    object
at                      object
appVersion              object
dtype: object